<!DOCTYPE html>
<html lang="en">
<style>
    @media print {
        .no-print {
            display: none !important;
        }

        .transparentSS {
            background-color: transparent !important;
        }

        .sure_print {
            position: fixed !important;
            top: 100px !important;
            left: 120px !important;
        }
    }
</style>

<head>
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/0d651ab2cf.js" crossorigin="anonymous"></script>
    <!-- BOOTSTRAP 4.6 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <!-- Fonts and icons -->
    <script src="/assets/js/plugin/webfont/webfont.min.js"></script>
    <script>
        WebFont.load({
            google: { families: ["Public Sans:300,400,500,600,700"] },
            custom: {
                families: [
                    "Font Awesome 5 Solid",
                    "Font Awesome 5 Regular",
                    "Font Awesome 5 Brands",
                    "simple-line-icons",
                ],
                urls: ["assets/css/fonts.min.css"],
            },
            active: function () {
                sessionStorage.fonts = true;
            },
        });
    </script>

    <!-- CSS Files -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/plugins.min.css" />
    <link rel="stylesheet" href="/assets/css/kaiadmin.min.css" />

    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link rel="stylesheet" href="/assets/css/demo.css" />
</head>

<body>
    <div class="wrapper transparentSS">
        <!-- Sidebar -->
        <div class="sidebar no-print" data-background-color="dark">
            <div class="no-print sidebar-logo">
                <!-- Logo Header -->
                <div class="no-print logo-header" data-background-color="dark">
                    <a href="/" class="logo">
                        <img src="/assets/img/kaiadmin/logo_light.svg" alt="navbar brand" class="navbar-brand"
                            height="20" />
                    </a>
                    <div class="nav-toggle ">
                        <button class="btn btn-toggle toggle-sidebar">
                            <i class="gg-menu-right"></i>
                        </button>
                        <button class="btn btn-toggle sidenav-toggler">
                            <i class="gg-menu-left"></i>
                        </button>
                    </div>
                    <button class="topbar-toggler more">
                        <i class="gg-more-vertical-alt"></i>
                    </button>
                </div>
                <!-- End Logo Header -->
            </div>
            <div class="no-print sidebar-wrapper scrollbar scrollbar-inner">
                <div class="sidebar-content">
                    <ul class="nav nav-secondary">
                        <li class="nav-item active">
                            <a data-bs-toggle="collapse" href="#dashboard" class="collapsed" aria-expanded="false">
                                <i class="fas fa-home"></i>
                                <p>Dashboard</p>
                                <span class="caret"></span>
                            </a>
                            <div class="collapse" id="dashboard">
                                <ul class="nav nav-collapse">
                                    <li>
                                        <a href="/">
                                            <span class="sub-item">Dashboard</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item active">
                            <a data-bs-toggle="collapse" href="#categories" class="collapsed" aria-expanded="false">
                                <i class="fas fa-industry"></i>
                                <p>Tables</p>
                                <span class="caret"></span>
                            </a>
                            <div class="collapse" id="categories">
                                <ul class="nav nav-collapse">
                                    <li>
                                        <a href="/table_categories">
                                            <span class="sub-item">Table Categories</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/add_table">
                                            <span class="sub-item">Add Table</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/tables">
                                            <span class="sub-item">Manage Table</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item active">
                            <a data-bs-toggle="collapse" href="#menu" class="collapsed" aria-expanded="false">
                                <i class="fas fa-industry"></i>
                                <p>Menu</p>
                                <span class="caret"></span>
                            </a>
                            <div class="collapse" id="menu">
                                <ul class="nav nav-collapse">
                                    <li>
                                        <a href="/menu_categories">
                                            <span class="sub-item">Menu Categories</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/add_items">
                                            <span class="sub-item">Add Items</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/manage_menu">
                                            <span class="sub-item">Manage Items</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item active">
                            <a data-bs-toggle="collapse" href="#customer" class="collapsed" aria-expanded="false">
                                <i class="fas fa-industry"></i>
                                <p>Customer</p>
                                <span class="caret"></span>
                            </a>
                            <div class="collapse" id="customer">
                                <ul class="nav nav-collapse">
                                    <li>
                                        <a href="/admit_customer">
                                            <span class="sub-item">Admit Customer</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/pending_customers">
                                            <span class="sub-item">Waiting Customers</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/serve_customers">
                                            <span class="sub-item">Start Serving</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/see_bills">
                                            <span class="sub-item">See Bill</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <!-- End Sidebar -->

        <div class="main-panel transparentSS">
            <div class="main-header no-print">
                <div class=" main-header-logo">
                    <!-- Logo Header -->
                    <div class="logo-header" data-background-color="dark">
                        <a href="/" class="logo">
                            <img src="/assets/img/kaiadmin/logo_light.svg" alt="navbar brand" class="navbar-brand"
                                height="20" />
                        </a>
                        <div class="nav-toggle">
                            <button class="btn btn-toggle toggle-sidebar">
                                <i class="gg-menu-right"></i>
                            </button>
                            <button class="btn btn-toggle sidenav-toggler">
                                <i class="gg-menu-left"></i>
                            </button>
                        </div>
                        <button class="topbar-toggler more">
                            <i class="gg-more-vertical-alt"></i>
                        </button>
                    </div>
                    <!-- End Logo Header -->
                </div>
                <!-- Navbar Header -->
                <nav class=" navbar navbar-header navbar-header-transparent navbar-expand-lg border-bottom">
                    <div class="container-fluid">
                        <nav
                            class=" navbar navbar-header-left navbar-expand-lg navbar-form nav-search p-0 d-none d-lg-flex">
                            <div class="input-group">

                            </div>
                        </nav>

                        <ul class=" navbar-nav topbar-nav ms-md-auto align-items-center">
                            <li class="nav-item topbar-icon dropdown hidden-caret d-flex d-lg-none">
                                <!-- <a class=" nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                                    aria-expanded="false" aria-haspopup="true">
                                    <i class="fa fa-search"></i>
                                </a> -->
                                <ul class="dropdown-menu dropdown-search animated fadeIn">
                                    <!-- <form class="navbar-left navbar-form nav-search">
                                        <div class="input-group">
                                            <input type="text" placeholder="Search ..." class="form-control" />
                                        </div>
                                    </form> -->
                                </ul>
                            </li>


                            <li class=" nav-item topbar-user dropdown hidden-caret">
                                <a class="dropdown-toggle profile-pic" data-bs-toggle="dropdown" href="#"
                                    aria-expanded="false">
                                    <div class="avatar-sm">
                                        <img src="/assets/img/profile.jpg" alt="..."
                                            class="avatar-img rounded-circle" />
                                    </div>

                                </a>
                                <ul class="dropdown-menu dropdown-user animated fadeIn">
                                    <div class="dropdown-user-scroll scrollbar-outer">
                                        <li>
                                            <div class="user-box">
                                                <div class="avatar-lg">
                                                    <img src="/assets/img/profile.jpg" alt="image profile"
                                                        class="avatar-img rounded" />
                                                </div>
                                                <div class="u-text">
                                                    <h4>Admin</h4>
                                                    <p class="text-muted">admin@example.com</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">My Profile</a>
                                            <a class="dropdown-item" href="#">Logout</a>
                                        </li>
                                    </div>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
                <!-- End Navbar -->
            </div>

            <div class="container">
                <div class="page-inner">
                    <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4">